body{
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}
hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #ccc;
    color: #000000;
    margin: 1em 0;
    padding: 0;
}
#map {
        height: 400px;
        width: 100%;
       }
.text-muted{
    color: #BCBBBB;
}
.text-thin{
    font-weight: 100;
}
.title-logo{
    margin-top: 20px;
}
.title-super{
    font-size:60px;
}